name: multi_value_listenable_builder
description: A Flutter package which allows to listening to multiple ValueListenables using a single widget.
version: 0.0.1
homepage: https://github.com/ufrshubham/multi-value-listenable-builder

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: false
